<!DOCTYPE html>
<html>
	<head>
		<title> Produit de {{multiplicande}} par {{multiplicateur}}</title>
	</head>
<body>
	<h1> Attention : Les opérandes sont en base 16, le résultat est en base 10.</h1>
	<h2> Le produit de {{multiplicande}} par {{multiplicateur}} est {{resultat}} </h2>
</body>
</html>
