<html>
	<body>
		<h2> Hello utilisateur {{ name }} ! </h2>
		<h2> Menu principal </h2> <hr>
		<h3> Opérations simples </h3>
		<li><a href="{{ path('sym16_simple_stock_produit',
		{'multiplicande': '5', 'multiplicateur': '3'}) }}">
		Calculer le produit de deux nombres </a> </li>
		<li><a href="{{ path('sym16_simple_stock_racine',
                {'valeur': '5', 'radical': '3'}) }}">
                Calcul de Racine </a> </li>
		<br> Test de Mr {{prof}} sur {{lecture}}
		<h3> Tableau </h3>
		<li> <a href="{{ path('sym16_simple_stock_lister') }}">Lister Tableau </a> </li>
	</body>
</html>

